<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <title>Hogwarts - Main Hall</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Main Hall</h1>
        </header>
        <main>
            <div>
                <h3>wewt!</h3>
                {% with messages = get_flashed_messages() %}   
                    {% if messages %}                           
                        {% for message in messages %}            
                            <p>{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                {% for house in houses %}
                    <h4>{{house}}</h4>
                    <ul>
                        {% for peep in houses[house] %}
                        <li>{{peep}}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </main>
    </div>
</body>
</html>